*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background:#f1f5f9;
}

.checkout-container{
  width:90%;
  max-width:1100px;
  margin:2rem auto;
  display:grid;
  grid-template-columns: 1.2fr 1fr;
  gap:2rem;
}

/* LEFT SHIPPING */
.shipping{
  background:white;
  padding:2rem;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.shipping h2{
  margin-bottom:10px;
}

.shipping h3{
  margin:1rem 0;
}

/* DELIVERY SECTION */
.delivery-box{
  display:flex;
  gap:1rem;
  margin-bottom:1.5rem;
}

.delivery-box div{
  flex:1;
  padding:10px;
  text-align:center;
  border:1px solid #c7d2fe;
  border-radius:8px;
  cursor:pointer;
}

.delivery-box .active{
  background:#4f46e5;
  color:white;
}

/* FORM */
form{
  display:flex;
  flex-direction:column;
  gap:12px;
}

form input, select{
  height:40px;
  border-radius:8px;
  border:1px solid #cbd5e1;
  padding-left:10px;
}

.row{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
}

.terms{
  margin-top:10px;
}


/* RIGHT SUMMARY */
.summary{
  background:white;
  padding:2rem;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.summary h3{
  margin-bottom:1rem;
}

/* CART ITEMS */
#main > div{
  display:flex;
  gap:10px;
  align-items:center;
  background:#f8fafc;
  padding:10px;
  border-radius:8px;
  margin-bottom:10px;
  border:1px solid #e5e7eb;
}

#main img{
  width:70px;
  height:60px;
  object-fit:cover;
  border-radius:6px;
}

#main h3{
  font-size:14px;
}

#main h2{
  font-size:13px;
  color:#64748b;
}

#main button{
  background:red;
  color:white;
  border:none;
  border-radius:6px;
  padding:5px 8px;
  cursor:pointer;
  margin-left:auto;
}

/* BILL */
.bill{
  margin-top:1.5rem;
}

.bill div{
  display:flex;
  justify-content:space-between;
  margin:6px 0;
}

.total{
  font-weight:bold;
  font-size:18px;
}

#pay{
  width:100%;
  height:45px;
  background:#4f46e5;
  border:none;
  border-radius:8px;
  color:white;
  margin-top:1rem;
  font-size:16px;
  cursor:pointer;
}

#pay:hover{
  background:#4338ca;
}

/* RESPONSIVE */
@media(max-width:768px){
  .checkout-container{
    grid-template-columns:1fr;
  }
}
