body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f1f5f9;
  font-family:Poppins;
}

.success-box{
  background:white;
  padding:2rem;
  border-radius:12px;
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
  text-align:center;
  width:350px;
}

h1{
  color:green;
}

button{
  margin-top:1rem;
  background:#4f46e5;
  color:white;
  border:none;
  border-radius:6px;
  padding:10px;
  cursor:pointer;
}
